@model AdminApps.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    form {
        padding: 0px;
        width: 430px
    }
</style>

<div class="container" style="width:500px">
    <div class="card">
        <div class="card-body table-responsive">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-verical", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>SIGN UP</h2>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label", placeholer="Email" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-10 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" style="width:400px" class="btn btn-info" value="SIGN ME UP" />
                    </div>
                </div>
            }

        </div>
        </div>
    </div>

          
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
